*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  height: 100vh;
  max-width: 100vw;
  background-color:#ADF1E4;
}
.sidebar{
  height: 100%;
  width: 20%;
  background-color: #FF9C3B;
  display: inline-block;
  vertical-align: top;
  
}
  